$font-family-main: "BlinkMacSystemFont", "Segoe UI", "Roboto", sans-serif;
$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-big: 18px;
$border-radius-normal: 3px;
$border-radius-big: 8px;
$color-text-main: #5e6c84;


@mixin wh-100() {
  width: 100%;
  height: 100%;
}

@mixin absolute-cover() {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin scroll-rgba($alpha) {
  background: rgba(185, 189, 197, $alpha);
}




