<!-- Modal window -->
<div mdbModal class=" modal-side modal-top-right">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded">
      <!-- Modal header -->
      <div class="modal-header form__header">
        <button type="button" class="close pull-right" (click)="closeBoard()">
          <span>×</span>
        </button>
        <h4 class="modal-title" id="modalTitle">Create a new board</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body d-flex flex-column justify-content-start">
        <img class="align-self-center p-2 mb-2" src="./assets/images/add-board-preview-img.svg"
             alt="board preview image" [style.background-color]=addBoardForm.value.background>
        <!-- Add board form -->
        <form class="pb-0 mb-0 px-2 mx-2" [formGroup]="addBoardForm">
          <!-- Background color -->
          <div class="text-left">Select board background</div>
          <ul class="row no-gutters m-0 text-center">
            <li class="radio-group col-3" *ngFor="let item of bgBoard; let i = index">
              <input type="radio" formControlName="background" [value]="item" id="{{i}}"
                     name="background" mdbInput>
              <label for="{{i}}" [style.background-color]=item>
                <mdb-icon fas icon="check" class="radio-group--icon"></mdb-icon>
                <span class="radio-group--fade"></span>
              </label>
            </li>
          </ul>
          <!-- Name -->
          <div class="md-form">
            <input mdbInput mdbValidate formControlName="name" autocomplete="off"
                   type="text" class="form-control" id="name">
            <label for="name">Enter a board name*</label>
            <mdb-error *ngIf="boardNameForm.invalid && (boardNameForm.dirty || boardNameForm.touched)">
              <span *ngIf="boardNameForm.errors.required">Board name is required</span>
              <span *ngIf="boardNameForm.errors.maxlength">Please enter at most 15 characters</span>
            </mdb-error>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <!-- Submit button -->
        <button type="submit" mdbBtn color="success" class="waves-light relative rounded"
                (click)="addBoard()" mdbWavesEffect>Create
        </button>
        <!-- Cancel button -->
        <button type="button" mdbBtn color="outline-danger" class="waves-light relative rounded"
                (click)="closeBoard()"
                mdbWavesEffect>Cancel
        </button>
      </div>
    </div>
  </div>
</div>
