<!-- Form registration -->
<form class="pt-5 px-5 pb-3 mt-5 form__box z-depth-1" [formGroup]="upSignForm">
  <!-- Form header -->
  <h3 class="form__header">
    Sign Up
  </h3>
  <!-- First Name -->
  <div class="md-form mt-5">
    <mdb-icon class="prefix form__icon" fas icon="user"></mdb-icon>
    <input
      mdbInput
      mdbValidate
      formControlName="firstName"
      type="text"
      id="firstName"
      autocomplete="off"
      class="form-control"
    >
    <label for="firstName">
      Type your first name*
    </label>
    <mdb-error *ngIf="firstNameControl.invalid && (firstNameControl.dirty || firstNameControl.touched)">
      <span *ngIf="firstNameControl.errors.required">First name is required</span>
      <span *ngIf="firstNameControl.errors.minlength">Please enter at least 2 characters</span>
      <span *ngIf="firstNameControl.errors.maxlength">Please enter at most	20 characters</span>
      <span *ngIf="firstNameControl.errors.pattern && !firstNameControl.errors.minlength">Enter only latin letters</span>
    </mdb-error>
  </div>
  <!-- Last Name -->
  <div class="md-form">
    <mdb-icon class="prefix form__icon" fas icon="user"></mdb-icon>
    <input
      mdbInput
      mdbValidate
      formControlName="lastName"
      type="text"
      id="lastName"
      autocomplete="off"
      class="form-control"
    >
    <label for="lastName">
      Type your last name*
    </label>
    <mdb-error *ngIf="lastNameControl.invalid && (lastNameControl.dirty || lastNameControl.touched)">
      <span *ngIf="lastNameControl.errors.required">First name is required</span>
      <span *ngIf="lastNameControl.errors.minlength">Please enter at least 2 characters</span>
      <span *ngIf="lastNameControl.errors.maxlength">Please enter at most 20 characters</span>
      <span *ngIf="lastNameControl.errors.pattern && !lastNameControl.errors.minlength">Please enter only latin letters</span>
    </mdb-error>
  </div>
  <!-- Email -->
  <div class="md-form">
    <mdb-icon class="prefix form__icon" fas icon="envelope"></mdb-icon>
    <input
      mdbInput
      mdbValidate
      formControlName="email"
      type="email"
      id="email"
      autocomplete="off"
      class="form-control"
    >
    <label for="email">
      Type your email*
    </label>
    <mdb-error *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)">
      <span *ngIf="emailControl.errors.required">Email is required</span>
      <span *ngIf="emailControl.errors.email">Enter valid email address</span>
      <span *ngIf="emailControl.errors.emailExist">User with that email already exists</span>
    </mdb-error>
  </div>
  <!-- Password -->
  <div class="md-form">
    <mdb-icon
      class="prefix btn-lock form__icon"
      [class.fa-lock]="isHidePass"
      [class.fa-unlock]="!isHidePass"
      fas
      (click)="isHidePass = !isHidePass"
    >
    </mdb-icon>
    <input
      mdbInput
      mdbValidate
      formControlName="password"
      [type]="isHidePass ? 'password' : 'text'"
      autocomplete="off"
      id="password"
      class="form-control"
    >
    <label for="password">
      Type your password*
    </label>
    <mdb-error *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">
      <span *ngIf="passwordControl.errors.required">Password is required</span>
      <span *ngIf="passwordControl.errors.minlength">Please enter at least 4 characters</span>
    </mdb-error>
  </div>
  <!-- Confirm password -->
  <div class="md-form">
    <mdb-icon
      class="prefix btn-lock form__icon"
      [class.fa-lock]="isHidePassConf"
      [class.fa-unlock]="!isHidePassConf"
      fas
      (click)="isHidePassConf = !isHidePassConf"
    >
    </mdb-icon>
    <input
      mdbInput
      mdbValidate
      formControlName="confPassword"
      [type]="isHidePassConf ? 'password' : 'text'"
      id="confirmPassword"
      autocomplete="off"
      class="form-control"
    >
    <label for="confirmPassword">
      Confirm your password*
    </label>
    <mdb-error *ngIf="confPasswordControl.invalid && (confPasswordControl.dirty || confPasswordControl.touched)">
      <span *ngIf="confPasswordControl.errors.required">Confirm password is required</span>
      <span *ngIf="confPasswordControl.errors.passwordMismatch && !confPasswordControl.errors.required"
      >
        The password does not match
      </span>
    </mdb-error>
  </div>
  <!-- Alarm -->
  <div *ngIf="!emailControl.errors?.emailExist && isAlarmForm" class="alert alert-danger text-center form-alert">
    Please correctly fill out all the fields
  </div>
  <div *ngIf="emailControl.errors?.emailExist" class="alert alert-danger text-center form-alert">
    A user with this email already exists, try
    <a [routerLink]=urlToLog>
      logging in?
    </a>
  </div>
  <!-- Submit button -->
  <button
    mdbBtn
    mdbWavesEffect
    type="submit"
    block="true"
    color="outline-success"
    class="my-4 mx-auto rounded form__btn form__btn--animated"
    [disabled]="upSignForm.invalid && isAlarmForm"
    (click)="onSignUp()"
  >
    Sign Up
  </button>
  <!-- Register -->
  <p class="text-center form__footer-text">
    Already have an account?
    <a [routerLink]=urlToLog>
      Log in
    </a>
  </p>
</form>
