@import "./src/app/styles/_variables";
@import "src/app/features/board/styles/modal";

$local-color-icon: #42526E;

pre {
  white-space: pre-line;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.form {
  min-height: 370px;
}

.header-color {
  height: 100px;
  border-radius: 1px 1px 0 0;
}

.name {
  position: relative;
  min-height: 60px;

  & input {
    overflow: hidden;
    overflow-wrap: break-word;
    background-color: #fff;
    box-shadow: inset 0 0 0 2px $color-input-shadow;
    display: inline-block;
    transition: margin 85ms ease-in, background 85ms ease-in;
    font-size: $font-size-big + 2;
    font-weight: $font-weight-medium;
    margin-left: 20px;
    color: $color-text-blue;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    height: 56px;

    &--bg {
      right: 0;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
  }

  &__text {
    font-size: $font-size-big + 2;
    font-family: $font-family-main;
    font-weight: $font-weight-medium;
    line-height: 24px;
    margin-left: 25px !important;
    color: $color-text-blue;
    padding: 3px;
  }

  &__icon {
    position: absolute;
    color: $local-color-icon;
    top: 22px;
    left: 12px;

    &--active {
      color: $color-input-shadow;
    }
  }
}

.tag {
  position: relative;
  display: inline-block;
  max-height: 38px;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__text {
    color: $color-text-gray;
    width: 200px;
    font-family: $font-family-main;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    line-height: 16px;
    margin-bottom: 4px;
  }

  &__link {
    @include absolute-cover();

    z-index: 0;
    position: absolute;
    border-radius: $border-radius-normal;

    &:hover {
      @include hover-rgba(0.09);
    }

    &--non-cover {
      background-color: $border-color-non-cover;
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    border-radius: $border-radius-normal;
    min-height: 30px;
    min-width: 40px;
    font-family: $font-family-main;
    font-weight: $font-weight-medium;
    font-size: $font-size-medium;

    &--white-color {
      color: white;
    }
  }

  &__btn {
    background-color: $color-btn-primary;
    border: none;
    font-size: $font-size-medium;
    height: 30px;
    min-width: 40px;
    opacity: 0.9;

    &:hover {
      background-color: $color-text-hover;
      border: none;
      box-shadow: none;
    }

  }
}

.desc {
  &__container {
    height: 370px;
  }

  &__icon {
    color: $local-color-icon;
    transform: scale(1.2);
    margin-left: 2px;
  }

  &__text {
    font-size: $font-size-medium + 2;
    color: $color-text-blue;
    font-family: $font-family-main;
    min-height: 58px;
    max-height: 300px;
    font-weight: $font-weight-light;
    padding: 0.375rem 0.75rem;
    border: 1px transparent;

    &--empty {
      min-height: 58px;
    }

    &:hover {
      background-color: rgb(234 236 240 / 40%);
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      @include scroll-rgba(0.4);

      border-radius: $border-radius-big;
    }

    &::-webkit-scrollbar-thumb {
      @include scroll-rgba(0.8);

      border-radius: $border-radius-big;
    }

    &::-webkit-scrollbar-thumb:hover {
      @include scroll-rgba(1);
    }

    &--empty {
      font-size: $font-size-medium;
      opacity: 0.8;
      background-color: $color-btn-primary;
      border: none;
      border-radius: $border-radius-normal;
      box-shadow: none;
      padding: 8px 12px;
      white-space: pre;

      &:hover {
        background-color: $color-text-hover;
        border: none;
        box-shadow: none;
      }
    }
  }

  &__text-header {
    font-size: $font-size-medium + 2;
    font-weight: $font-weight-medium;
    margin-left: 18px;
    color: $color-text-blue;
    padding-top: 6px;
    font-family: $font-family-main;
  }

  &__btn {
    text-transform: none;
    min-width: 65px;
    font-weight: $font-weight-medium;

    &--close {
      opacity: 0.7;

      &:hover {
        opacity: 0.9;
      }
    }

    &--edit {
      align-items: center;
      background-color: $color-btn-primary;
      border: none;
      border-radius: $border-radius-normal;
      box-shadow: none;
      color: $color-text-blue;
      font-size: $font-size-medium;
      font-weight: $font-weight-light;
      padding: 6px 12px;
      font-family: $font-family-main;
      margin-left: 10px;

      &:hover {
        background-color: $color-text-hover;
        border: none;
        box-shadow: none;
      }
    }

    &__area {
      position: relative;
      left: -10px;
    }
  }

  &__text--input {
    overflow-wrap: break-word;
    resize: none;
    min-height: 108px;
    box-shadow: inset 0 0 0 2px $color-input-shadow;
    font-family: $font-family-main;

    .form-control:focus {
      box-shadow: none !important;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      @include scroll-rgba(0.4);

      border-radius: $border-radius-big;
    }

    &::-webkit-scrollbar-thumb {
      @include scroll-rgba(0.8);

      border-radius: $border-radius-big;
    }

    &::-webkit-scrollbar-thumb:hover {
      @include scroll-rgba(1);
    }
  }
}

.sidebar {
  &__header {
    font-family: $font-family-main;
    color: $color-text-gray;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    line-height: 16px;
    margin-top: 16px;
  }

  &__btn {
    background-color: #EAECF0;
    font-family: $font-family-main;
    border: none;
    border-radius: $border-radius-normal;
    box-shadow: none;
    color: $color-text-blue;
    font-size: $font-size-medium;
    font-weight: $font-weight-light;
    padding: 6px 12px;
    text-align: start;
    max-width: 168px;

    &:hover {
      background-color: #E2E4E9;
      border: none;
      box-shadow: none;
    }
  }

  &__icon {
    min-width: 32px;
  }
}

::ng-deep {

  &.bs-datepicker-container {
    padding: 0;
  }

  &.bs-datepicker {
    border-radius: $border-radius-normal;
  }

  &.current-date:not(.selected) {
    color: coral;
    background-color: rgba(94, 108, 132, 0.05);
  }
}

.date {

  &__input {
    position: absolute;
    visibility: hidden;
  }

  &__text {
    margin-left: 30px;
    margin-bottom: 0;
    background-color: $border-color-non-cover;
    padding: 5px;
    width: fit-content;
    border-radius: $border-radius-big;
  }

  &__icon {
    transform: scale(1.3);
  }
}



