<!-- Modal window -->
<div *ngIf="task && tagsByBoard" class="modal-content" (click)="onClearFormView()">
  <!-- Modal body -->
  <div class="modal-body p-0">
    <!-- Close button -->
    <button type="button" class="close pull-right mt-2 mx-1 modal-body__btn" (click)="onCloseTask()">
      <span [class.modal-body__btn--bg]="taskForm.value.background === '#344563'">×</span>
    </button>
    <div
      *ngIf="taskForm.value.background !== ''"
      [style.background-color]="taskForm.value.background"
      class="header-color"
    >
    </div>
    <!-- Task form -->
    <form class="p-0 m-0 form-row form" [formGroup]="taskForm">
      <div class="name p-0 m-0 col-12" (click)="$event.stopPropagation()">
        <!-- Form view - tasks name -->
        <a class="name__link" (click)="onToggleBtnTaskName(task.id)">
          <div
            *ngIf="toggleEditTaskName === null"
            class="px-3 d-flex flex-column m-3 align-items-baseline justify-content-center"
          >
            <!-- Task name -->
            <i class="fa-lg fas fa-window-maximize m-2 name__icon"></i>
            <p class="name__text">{{this.taskForm.value.name}}</p>
          </div>
        </a>
        <!-- Form view - edit tasks name -->
        <div
          *ngIf="toggleEditTaskName"
          class="name__link"
          [class.task__name__link--bg]="taskForm.value.background"
        >
          <div class="d-flex px-3 m-2 align-items-baseline">
            <i class="fa-lg fas fa-window-maximize m-2 name__icon name__icon--active"></i>
            <input
              mdbInput
              formControlName="name"
              type="text"
              autocomplete="off"
              class="form-control"
              appAutoFocus
              (keydown.enter)="onUpdateTaskName($event.target.value)"
            >
          </div>
        </div>
      </div>
      <!-- Task tag -->
      <div *ngIf="tagsByBoard.length !== 0" class="col-8 ml-5">
        <p class="tag__text pl-2 mt-0">
          Tags
        </p>
        <div class="d-flex mb-2">
          <div *ngFor="let tagTask of task.tag; let i = index" class="tag">
            <span
              class="tag__name py-1 px-2 m-1"
              [style.background-color]="tagTask.background"
            >
              <a class="tag__link" (click)="onToggleBtnEditTag(); onOpenTags()"></a>
              {{tagTask.name}}
          </span>
          </div>
          <button
            type="button"
            class="rounded tag__btn m-1"
            (click)="onToggleBtnEditTag(null, tagsByBoard.length); onOpenTags()"
          >
            <mdb-icon class="fa modal__text--span" fas icon="plus"></mdb-icon>
          </button>
        </div>
      </div>
      <!-- Task description -->
      <div class="col-9 desc__container">
        <div class="d-flex px-2 mx-2 mb-1 align-items-baseline">
          <i class="fas fa-align-justify desc__icon"></i>
          <p class="desc__text-header mb-2">
            Description
          </p>
          <div (click)="$event.stopPropagation()">
            <button
              *ngIf="!toggleEditTaskDesc && taskForm.value.description"
              type="button"
              class="rounded desc__btn desc__btn--edit p-1"
              (click)="toggleBtnTaskDesc(task.id)"
            >
              Edit
            </button>
          </div>
        </div>
        <!-- Form view - description -->
        <div class="mb-5 ml-5" (click)="$event.stopPropagation()">
          <a (click)="toggleBtnTaskDesc(task.id)">
            <!-- Description -->
            <div *ngIf="!toggleEditTaskDesc">
            <pre
              *ngIf="task.description"
              class="desc__text mb-3"
              [class.task__desc__text--empty]="!task.description"
            >
          {{task.description}}
              </pre>
              <pre
                *ngIf="!task.description"
                class="desc__text desc__text--empty"
              >
                Add a more detailed description...
              </pre>
            </div>
          </a>
          <!-- Form view - edit description -->
          <div *ngIf="toggleEditTaskDesc" class="desc__area d-flex flex-column mb-1">
              <textarea
                mdbInput
                #textAreaDesc
                formControlName="description"
                type="text"
                autocomplete="off"
                class="form-control desc__text--input"
                appAutoFocus
                [value]="task.description"
                appAutoScrollHeight
              >
              </textarea>
            <div class="mb-1" (click)="onClearFormView()">
              <!-- Submit button -->
              <button
                mdbBtn
                type="submit"
                color="primary"
                class="rounded desc__btn p-2"
                (click)="onUpdateTaskDescription(taskForm.value.description)"
              >
                Save
              </button>
              <!-- Cancel button -->
              <button
                mdbBtn
                type="button"
                class="rounded desc__btn desc__btn--close p-2"
                (click)="onClearFormView()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Task manager -->
      <div class="col-3 d-flex flex-column">
        <p class="sidebar__header mx-1 my-0 pb-2">
          Add to card
        </p>
        <!-- Cover button -->
        <button
          mdbWavesEffect
          type="button"
          class="sidebar__btn justify-content-center m-1"
          (click)="onOpenCover()"
        >
          <i class="fas fa-sm fa-book-open p-2 sidebar__icon"></i>
          Cover
        </button>
        <!-- Tags button -->
        <button
          mdbWavesEffect
          type="button"
          class="sidebar__btn justify-content-center m-1"
          (click)="onOpenTags()"
        >
          <i class="fas fa-sm fa-tags p-2 sidebar__icon"></i>
          Tags
        </button>
        <button
          mdbWavesEffect
          type="button"
          class="sidebar__btn justify-content-center m-1"
          (click)="onCloseTask()"
        >
          <i class="fas fa-sm fa-calendar-alt p-2 sidebar__icon"></i>
          Dates
        </button>
        <button
          mdbWavesEffect
          type="button"
          class="sidebar__btn justify-content-center m-1"
          (click)="onCloseTask()"
        >
          <i class="fas fa-sm fa-user-friends p-2 sidebar__icon"></i>
          Users
        </button>
      </div>
    </form>
  </div>
</div>
