@import "./src/app/styles/_variables.scss";

$max-width-image: 40%;
$width-image: 400px;

body {
  background-color: rgb(247, 247, 247);
}

.btn-lock {
  cursor: pointer;
}

.background-image {
  @include wh-100;

  position: fixed;
  z-index: -1;
  top: 0;
  margin-left: -15px;

  &--left {
    position: absolute;
    bottom: 2px;
    left: 0;
    max-width: $max-width-image;
    width: $width-image;
  }

  &--right {
    position: absolute;
    bottom: -2px;
    right: 0;
    width: $width-image;
    max-width: $max-width-image;
  }
}
