@import "./src/app/styles/_variables.scss";

.modal-body {
  overflow-x: hidden;
  max-height: 395px;

  &--cover {
    max-height: 500px;
  }

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-track {
    @include scroll-rgba(0.4);

    border-radius: $border-radius-big;
  }

  &::-webkit-scrollbar-thumb {
    @include scroll-rgba(0.8);

    border-radius: $border-radius-big;
  }

  &::-webkit-scrollbar-thumb:hover {
    @include scroll-rgba(1);
  }


  &__btn {
    position: relative;
    z-index: 20;
    transform: scale(1.2);

    &--bg {
      color: white;
    }
  }
}

.modal {
  &__container {
    position: relative;
    top: 24vh;
    right: 1vw;

    &--cover {
      top: 29vh;
    }
  }

  &__add-btn {
    width: 230px;
    background-color: #091e420a;
    border: none;
    border-radius: $border-radius-normal;
    font-size: $font-size-medium;
    font-weight: $font-weight-light;
    padding: 6px 12px;
    font-family: $font-family-main;

    &:hover {
      opacity: 0.9;
      background-color: $color-text-hover;
    }
  }
}

.checkbox-group {
  height: 40px;

  input[type="checkbox"] {
    opacity: 0;
    width: 0;

    &:checked ~ label {
      display: inline-block;

      p {
        color: $color-text-blue;
      }

      .checkbox-group--icon {
        display: inline-block;
        position: absolute;
        top: 14%;
        right: 3%;
        transform: scale(0.7);
        padding: 4px;
        background-color: white;
        border-radius: 50%;
        font-weight: $font-weight-bold;

        &--reverse {
          @include hover-rgba(1);

          color: white;
        }
      }
    }
  }

  label {
    position: relative;
    width: 230px;
    height: 32px;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    padding: 5px 10px;
    margin: 1px 2px;
    border-radius: $border-radius-normal;
    font-family: $font-family-main;

    &:hover {
      padding-left: 14px;
    }
  }

  &--fade {
    @include absolute-cover();

    position: absolute;
    border-radius: $border-radius-normal;

    &:hover:before {
      @include hover-rgba(0.2);

      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 222px;
      border-radius: $border-radius-normal 0 0 $border-radius-normal;
    }
  }

  &--icon {
    display: none;
  }

  &__btn-edit {
    border: none;
    color: #42526e;
    transform: scale(0.85);
    background-color: #F4F5F7;
    padding: 7px 10px;
    margin: 0;
    border-radius: $border-radius-normal + 2;

    &:hover {
      @include hover-rgba(0.09);
    }
  }
}



