@import "./src/app/styles/variables";

$local-border-btn: 3px solid #00C851;
$local-border-radius: 30px;

@mixin local-btn-pseudo() {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: -7px;
  left: -7px;
  z-index: 5;
  border-top: $local-border-btn;
  border-left: $local-border-btn;
  transition: 0.5s;
}

input {
  font-weight: $font-weight-medium;
}

.form {

  &__box {
    position: relative;
    background-color: white;
    border-radius: $local-border-radius;
  }

  &__header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    padding-top: 10px;
    border-radius: $local-border-radius $local-border-radius 0 0;
    color: white;
    background-color: #33B5E5FF;
    font-family: $font-family-main;
    text-align: center;
    font-weight: $font-weight-medium;
  }

  &__icon {
    top: 7px;
  }

  &__btn {
    position: relative;
    z-index: 6;

    &--animated {

      &:before {
        @include local-btn-pseudo;

      }

      &:after {
        @include local-btn-pseudo;

      }

      &:hover::before {
        @include wh-100();
      }

      &:hover::after {
        @include wh-100();
      }
    }
  }

  &__footer-text {
    font-family: $font-family-main;
  }

}
