/* You can add global styles to this file, and also import other style files */
@import "./src/app/styles/_variables";

body {
  background-color: rgb(247, 247, 247);
}

input, button {
  font-family: $font-family-main;
  font-weight: $font-weight-medium;
}

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
