<div
  *ngIf="board"
  [style.background-color]="board.background"
  class="column"
  (click)="clearFormView()"
>
  <!-- Column container -->
  <ul
    class="mt-4 d-flex column__scroll"
    cdkDropList
    cdkScrollable
    cdkDropListGroup
    [cdkDropListData]="columns"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dragAndDropColumn($event)"
  >
    <!-- Column list -->
    <div
      *ngFor="let column of columns"
      cdkDrag
      [cdkDragDisabled]="!!toggleEditColumn"
      class="m-2 z-depth-1 column__container"
    >
      <li class="p-2 z-depth-1 column__item">
        <div class="column__header__wrapper"></div>
        <div class="m-0 d-flex align-items-center column__header__container">
          <form
            [formGroup]="columnItemForm"
            class="w-100"
            (click)="$event.stopPropagation()"
          >
            <!-- Button view - name of board -->
            <!-- Edit button -->
            <a class="column__header__container"
               (click)="editColumnView(column)">
              <div
                *ngIf="toggleEditColumn !== column.id"
                class="d-flex justify-content-between column__header__content"
              >
                <!-- Column name -->
                <p class="px-2 column__name" cdkDragHandle>
                  {{column.name}}
                </p>
              </div>
            </a>
            <!-- Form view - edit board -->
            <div
              *ngIf="toggleEditColumn === column.id"
              class="p-0 mx-1 d-flex justify-content-between align-items-baseline column__header column__header__content"
            >
              <input
                *ngIf="toggleEditColumn"
                mdbInput
                formControlName="name"
                type="text"
                autocomplete="off"
                placeholder="Enter column name"
                class="form-control m-0"
                appAutoFocus
              >
              <button
                mdbBtn
                type="submit"
                color="primary"
                class="my-0 ml-2 mr-0 p-2 rounded column__header__btn"
                (click)="updateColumn(columnItemForm.value, column.id)"
              >
                <mdb-icon class="fa" fas icon="edit"></mdb-icon>
              </button>
              <button
                mdbBtn
                class="my-0 ml-1 mr-0 p-2 rounded column__header__btn--del"
                (click)="deleteColumn(column.name, column.id)"
                [disabled]="tasks[column.id].length !== 0"
              >
                <mdb-icon class="fa" fas icon="trash"></mdb-icon>
              </button>
              <a
                type="button"
                class="ml-2 close align-self-start"
                (click)="toggleEditColumn = null"
              >
                <mdb-icon class="column__header__btn--icon" fas icon="times"></mdb-icon>
              </a>
            </div>
          </form>
        </div>
        <!-- Task container -->
        <ul cdkDropList
            [cdkDropListData]="tasks[column.id]"
            (cdkDropListDropped)="dragAndDropTask(column.id, $event)"
            class="task__container task__container-{{column.id}}"
            [class.task__container--mb]="toggleAddTask !== column.id"
        >
          <!-- Task list -->
          <li
            *ngFor="let task of tasks[column.id]; let i = index"
            cdkDrag
            [style.background-color]="task.background"
            [ngClass]="{
            'task__item--bg': task.background,
            'task__item--bg-w': task.background === '#344563'
            }"
            class="m-2 p-2 task__item z-depth-1 task__content"
          >
            <!-- Task container -->
            <!-- Task link -->
            <a class="task__link" (click)="openModalTask(task.id)"> </a>
            <!-- Task name -->
            <p class="task__name">{{task.name}}</p>
            <!-- Task edit icon -->
            <span class="pt-1 pl-2 task__icon">
                <mdb-icon fas icon="pencil"></mdb-icon>
            </span>
          </li>
          <!-- Task addition form -->
          <form [formGroup]="taskItemForm" class="task__form" (click)="$event.stopPropagation()">
            <!-- Button view - new tasks -->
            <div *ngIf="toggleAddTask !== column.id">
              <button
                class="task__item task__add-btn"
                (click)="editTaskView(column.id)"
              >
                <mdb-icon fas icon="plus" class="fa task__add-btn--icon"></mdb-icon>
                Add a new task
              </button>
            </div>
            <!-- Form view - new tasks -->
            <div *ngIf="toggleAddTask === column.id" class="pb-0 mb-0 px-1 mx-1 mt-2">
              <input
                mdbInput
                type="text"
                formControlName="name"
                class="form-control mb-1"
                placeholder="Enter task name"
                autocomplete="off"
                appAutoFocus
              >
              <div class="d-flex justify-content-start">
                <button
                  mdbBtn
                  type="submit"
                  color="primary"
                  class="m-1 p-2 waves-light relative rounded task__sub-btn"
                  (click)="addTask(taskItemForm.value, column.id)"
                >
                  Add a task
                </button>
                <button
                  type="button"
                  class="ml-2 close"
                  (click)="toggleAddTask = null; this.taskItemForm.reset()"
                >
                  <mdb-icon class="task__form--icon" fas icon="times"></mdb-icon>
                </button>
              </div>
            </div>
          </form>
        </ul>
      </li>
    </div>
    <!-- Column addition form -->
    <form [formGroup]="columnItemForm" class="column__form">
      <!-- Button view - new board -->
      <div *ngIf="toggleAddColumn === null">
        <button
          class="m-2 column__item column__add-btn"
          (click)="addColumnView(); $event.stopPropagation()"
        >
          <mdb-icon
            class="fa column__add-btn--icon"
            fas
            icon="plus"
          >
          </mdb-icon>
          Add а new column
        </button>
      </div>
      <!-- Form view - new board -->
      <div
        *ngIf="toggleAddColumn"
        class="p-2 m-2 column__form--switch"
        (click)="$event.stopPropagation()"
      >
        <input
          mdbInput
          formControlName="name"
          type="text"
          placeholder="Enter column name"
          autocomplete="off"
          class="form-control mb-1"
          appAutoFocus
        >
        <div class="d-flex justify-content-start">
          <button
            mdbBtn
            type="submit"
            color="primary"
            class="m-1 p-2 waves-light relative rounded column__sub-btn"
            (click)="createColumn(columnItemForm.value)"
          >
            Add a column
          </button>
          <button
            type="button"
            class="ml-2 close"
            (click)="clearFormView()"
          >
            <mdb-icon class="column__form--cross-icon" fas icon="times"></mdb-icon>
          </button>
        </div>
      </div>
    </form>
  </ul>
</div>
