@import "./src/app/styles/_variables";

$local-width-container: 272px;

@mixin local-hover-rgba($alpha) {
  background-color: rgba(226, 228, 234, $alpha);
}

li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0;
  min-height: 40px;
}

p {
  margin-bottom: 0;
}

input {
  overflow: hidden;
  overflow-wrap: break-word;
  position: relative;
  box-shadow: inset 0 0 0 2px $color-input-shadow;
  display: block;
  transition: margin 85ms ease-in, background 85ms ease-in;

  &:focus {
    box-shadow: inset 0 0 0 2px $color-input-shadow;
  }
}

.column {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  height: calc(100vh - 66px);
  width: 100vw;

  &__scroll {
    width: fit-content;
  }

  &__header {
    &__wrapper {
      height: 40px;
    }

    &__container {
      @include absolute-cover();

      position: absolute;
      height: 42px;
    }

    &__content {
      padding: 6px;
      height: 38px;
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
    }

    & input {
      @include wh-100();

      font-size: $font-size-big;
      font-weight: $font-weight-medium;
    }

    &__btn {
      height: 32px;

      &--del {
        height: 32px;
        color: white;
        background-color: indianred;
      }

      &--icon {
        transform: scale(0.8)
      }
    }
  }

  &::-webkit-scrollbar {
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    @include scroll-rgba(0.4);

    border-radius: $border-radius-big;
  }

  &::-webkit-scrollbar-thumb {
    @include scroll-rgba(0.8);

    border-radius: $border-radius-big;
  }

  &::-webkit-scrollbar-thumb:hover {
    @include scroll-rgba(1);
  }

  &::-webkit-scrollbar-button {
    display: block;
    width: 40px;
  }

  &__container {
    position: relative;
    height: 100%;
    width: $local-width-container;
    background-color: #ebecf0;
    border-radius: $border-radius-normal;
  }

  &__item {
    position: relative;
    font-family: $font-family-main;
    width: $local-width-container;
    height: 100%;
    font-size: $font-size-medium;
    border-radius: $border-radius-normal;

    &__header {
      display: flex;
    }
  }

  &__name {
    @include wh-100();

    font-size: $font-size-big;
    font-weight: $font-weight-medium;
    color: $color-text-blue;
  }

  &__form {
    &--switch {
      height: 100px;
      width: $local-width-container;
      background-color: #ebecf0;
      border-radius: $border-radius-normal;
    }

    &--cross-icon {
      transform: scale(0.9);
    }
  }

  &__add-btn {
    position: relative;
    height: 40px;
    color: white;
    border: none;
    background-color: rgba(235, 236, 240, 0.40);

    &:hover {
      @include local-hover-rgba(0.50);
    }

    &--icon {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &__sub-btn {
    text-transform: none;
  }

}

.task {
  &__container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70vh;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      @include scroll-rgba(0.4);
    }

    &::-webkit-scrollbar-thumb {
      @include scroll-rgba(0.8);
    }

    &::-webkit-scrollbar-thumb:hover {
      @include scroll-rgba(1);
    }

    &--mb {
      margin-bottom: 30px;
    }
  }

  &__content {
    position: relative;

    &:hover {
      .task__icon {
        display: block;
      }
    }
  }

  &__link {
    @include absolute-cover();

    z-index: 10;
    position: absolute;
    border-radius: $border-radius-normal;

    &:hover {
      @include hover-rgba(0.08);
    }
  }

  &__name {
    position: relative;
    z-index: 9;
  }

  &__date {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: $font-size-small;
    font-weight: $font-weight-light;

    &--overdue {
      font-weight: $font-weight-bold + 100;
    }
  }

  &__icon {
    @include hover-rgba(0.35);

    display: none;
    position: absolute;
    height: 20px;
    width: 20px;
    right: 5px;
    top: 20px;
    color: white;
    border-radius: $border-radius-big + 2px;

    & mdb-icon {
      position: absolute;
      font-size: $font-size-small;
      left: 4px;
      top: 4px;
    }
  }

  &__item {
    color: $color-text-blue;
    overflow: hidden;
    padding: 6px 8px 2px;
    font-weight: $font-weight-light;
    border-radius: $border-radius-big - 2px;
    background-color: white;

    &--bg {
      padding-top: 24px !important;
      font-size: $font-size-medium + 2px;
      font-weight: $font-weight-medium;

    }

    &--bg-w {
      color: white;
    }
  }

  &__form {
    &--icon {
      transform: scale(0.8)
    }
  }

  &__add-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ebecf0;
    border: none;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 12px;
    border-radius: 0 0 $border-radius-normal $border-radius-normal;

    &:hover {
      @include local-hover-rgba(1);
    }

    &--icon {
      color: $color-text-blue;
    }
  }

  &__sub-btn {
    text-transform: none;
  }
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 200ms cubic-bezier(.17, .67, .87, .54);
}

.cdk-drag-placeholder {
  position: relative;

  &:after {
    @include absolute-cover();
    @include local-hover-rgba(0.50);

    content: "";
    position: absolute;
  }
}

.tag {
  &__container {
    width: fit-content;
    background-color: white;
    border-radius: $border-radius-big;
  }

  &__item {
    height: 10px;
    width: 24px;
    border-radius: $border-radius-normal;

    &--non-cover {
      background-color: $border-color-non-cover;
    }
  }
}
